@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sigmar+One&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@900&family=Sigmar+One&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@500&display=swap');

body {
    text-align: center;
}

header {
    display: flex;
    align-content: center;    
    flex-direction: column;
    align-items:center;
    background: url(https://images.squarespace-cdn.com/content/v1/5ca6b7a0797f747ac898b60b/1572228118004-0VH1HX6IDJE7SHKGWGVG/090219_MPlusM_Vol26-9900.jpg?format=1500w) 100% 100% no-repeat;
    width: 100%;
    border-radius: 50px;
    border: 3px white solid;
}

h1 {
    font-family: 'Cabin Condensed', sans-serif;
    color: #8C5675;
    -webkit-text-stroke: 2px #8C5675;    
    text-align: center;
    font-size: 7em;
}

.h2 {
    font-family: 'Cabin Sketch', cursive;
    color: #A4E1B2;
    font-size: 2em;
    background-color: white;
    padding: .5em;
}

h3 {
    font-family: 'Cabin Condensed', sans-serif;
    color: #42B0AE;
}

h4 {
    color: #8C5675;
}

h5 {
    font-family: 'Cabin Condensed', sans-serif;  
}

a {
    color: #024546;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

body {
    background-color: #EBE9E3;
    text-align: center;
}

li {
    border: 5px white solid;
    border-radius: 50px;
    margin: 3em;
    overflow: hidden;
}

.buttons {
    background-color: white;
    padding: .75em;
    display: flex;
    justify-content: space-between;
}

.form {
margin-top: 20px;
}

.info {
    background-color: white;
    padding: 0 2em 0 2em;
    border: 1px solid black;
    border-radius: 50px;
    margin-bottom: 1em;
    margin-top: -10px;
}