@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sigmar+One&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@900&family=Sigmar+One&family=Zen+Antique+Soft&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@500&display=swap');

body {
    background-color: #DDD7D2;
    text-align: center;
}

header {
    border-bottom: 2em solid white;
    display: flex;
    align-content: center;    
    flex-direction: column;
    align-items:center;
    background-color: white;
}

h1 {
    font-family: 'Cabin Condensed', sans-serif;
    color: #8C5675;
    -webkit-text-stroke: 2px #8C5675;    
    text-align: center;
    font-size: 6em;
}

.h2 {
    font-family: 'Cabin Sketch', cursive;
    color: #A4E1B2;
    font-size: 2em;
    background-color: white;
    padding: .5em;
}

h3 {
    font-family: 'Cabin Condensed', sans-serif;
    color: #42B0AE;
}

h4 {
    color: #8C5675;
}

h5 {
    font-family: 'Cabin Condensed', sans-serif;  
}

a {
    color: #024546;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

body {
    background-color: #EBE9E3;
    text-align: center;
}

li {
    border: 5px white solid;
    border-radius: 50px;
    margin: 3em;
    overflow: hidden;
}

.buttons {
    background-color: white;
    padding: .75em;
    display: flex;
    justify-content: space-between;
}

.form {
margin-top: 20px;
}