@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sigmar+One&family=Zen+Antique+Soft&display=swap');

a {
    color: #024546;
    text-decoration: none;
}

a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

body {
    background-color: #2E796D;
    text-align: center;
}

nav {
    list-style-type: none;
    background-color: #FAF5E4;
    float: left;
    padding: 8px;
    position: fixed;
    font-family: 'Oswald', sans-serif;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    top: 0; 
    width: 97%;
}

h1 {
    color: #F8B407;
    font-size: 4em;
    text-align: center;
    margin:auto;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.main {
    margin-top: 30px;
}
