li {
    font-family: 'Courier New', Courier, monospace;
    display: flexbox;
    list-style: none;
}

.dropdowns-sr {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    border: 3px double white;
    border-radius: 50px;
    margin: 20px;

}

.results {
    display: flex;
    justify-content: center;
    
}